    body {

    }
    input{
        float: right;

    }
    h1{
        margin: 20px;
    }
    nav{
        margin: 0px 20px 0px 20px;
        height: 25px;
        vertical-align: middle;
    }
    #navigation{
        display: inline-block;
        list-style: none;
        white-space: nowrap;
        margin: 0px;
        padding: 0px;
        vertical-align: middle;
    }
    #navigation > li{
        margin: 0px 30px 0px 0px;
        display: inline-block;
    }
    #searchButton{
        display: inline-block;
        margin: 1.5px 0px 0px 0px;
    }
    #undernav{
        width: 97%;
    }