<div id="edit-phone-form" class="dialog-box" data-id="{{{phoneId}}}">
    <h1>Edit Phone</h1>
    <p>
        <label for="personName">Name:</label>
        <input type="text" id="personName" value="{{{name}}}">
    </p>
    <p>
        <label for="phoneNumber">Number:</label>
        <input type="text" id="phoneNumber" value="{{{number}}}">
    </p>
    <p class="buttons">
        <a href="" class="button" id="edit-phone-button">Edit</a>
        <a href="#/phonebook" class="button">Cancel</a>
    </p>
</div>
