<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Introduction to AngularJS</title>
    <link rel="stylesheet" href="./css/index.css">

</head>

<body ng-app="app">
    <div ng-controller="Problem_1">
        <h1>Problem 1</h1>
        <ul>
            <li>Name: {{obj.name}}</li>
            <li>Grade: {{obj.grade}}</li>
            <li>School: {{obj.school}}</li>
            <li>Teacher: {{obj.teacher}}</li>

        </ul>
        <img ng-src="{{obj.photo}}" alt="SoftUniLogo">
    </div>
    <div ng-controller="Problem_2">
        <h1>Problem 2</h1>
        <input type="url" ng-value="url" ng-model="url" />
        <br/>
        <img ng-src="{{url}}" alt="pic">
    </div>
    <div ng-controller="Problem_3" class="prob3">
        <h1>Problem 3</h1>
        <div ng-style="{{boldTextStyle}}">
            <h3>TIGER</h3>
            <ul ng-style="{{ulStyle}}">
                <li ng-repeat="key in notSorted(dataObject)" ng-init="value = dataObject[key]">
                    {{key}} : <span ng-style="{{textStyle}}">{{value}}</span>
                </li>
            </ul>
        </div>
        <img ng-src="{{picUrl}}">
    </div>
    <div ng-controller="Problem_3.v2" ng-style="{{style.all}}">
        <h1 ng-style="{{style.h1}}">Problem 3.v2</h1>
        <div ng-style="{{style.outDiv}}">
            <div ng-style="{{style.inDiv}}">
                <h3 >TIGER</h3>
                <ul ng-style="{{style.ul}}">
                    <li>
                        Name: {{dataObject.Name}}
                    </li>
                    <li>
                        Born: {{dataObject.Born}}
                    </li>
                    <li>
                        Birth date: {{dataObject.BirthDate}}
                    </li>
                    <li>
                        Live: {{dataObject.Live}}
                    </li>
                </ul>
            </div>
            <div ng-style="{{style.inDiv}}">
                <img ng-src="{{dataObject.url}}" alt="tiger" ng-style="{{style.img}}">
            </div>
        </div>
    </div>

    <script src="./lib/angular.js"></script>
    <script src="./js/app.js"></script>
    <script src="./js/controllers/Problem_1.js"></script>
    <script src="./js/controllers/Problem_2.js"></script>
    <script src="./js/controllers/Problem_3.js"></script>
    <script src="./js/controllers/Problem_3.v2.js"></script>
</body>

</html>
