<div id="delete-phone-form" class="dialog-box">
    <h1>Confirm Delete Phone?</h1>
    <p>
        <label for="personName">Name:</label>
        <input type="text" id="personName" disabled="disabled" value="{{{name}}}">
    </p>
    <p>
        <label for="phoneNumber">Number:</label>
        <input type="text" id="phoneNumber" disabled="disabled" value="{{{phone}}}">
    </p>
    <p class="buttons">
        <a href="#" class="button" id="delete-delete-button">Delete</a>
        <a href="#/phonebook" class="button" id="delete-cancel-button">Cancel</a>
    </p>
</div>
