<table id="phones">
    <tr>
        <th>Name</th>
        <th>Phone</th>
        <th>Action</th>
    </tr>
    {{#results}}
    <tr data-id="{{objectId}}">
        <td>{{person}}</td>
        <td>{{number}}</td>
        <td>
            <a href="#" class="link" id="edit-record">Edit</a>
            <a href="#" class="link" id="delete-record">Delete</a>
        </td>
    </tr>
    {{/results}}
</table>
<p><a href="#/addphone" class="button" id="add-phone-button">Add Phone</a>
</p>
