<div id="edit-phone-form" class="dialog-box">
    <h1>Edit Phone</h1>
    <p>
        <label for="personName">Name:</label>
        <input type="text" id="personName" value="{{{name}}}">
    </p>
    <p>
        <label for="phoneNumber">Number:</label>
        <input type="text" id="phoneNumber" value="{{{phone}}}">
    </p>
    <p class="buttons">
        <a href="#" class="button" id="edit-edit-button">Edit</a>
        <a href="#" class="button" id="edit-cancel-button">Cancel</a>
    </p>
</div>
